<div class="row">
    <div class="col-lg-12">                
        <p>
            <h3>Qlik Sense Security Authentication Overview</h3>
                Qlik Sense supports multiple methods for authenticating users.  All authentication in Qlik Sense is managed by the Qlik Sense Proxy Service (QPS).
                Qlik Sense always asks an external system to verify who the user is and if the user can prove it.  The interaction between Qlik Sense and the 
                external identity provider is handled by authentication modules.  For a module to communicate with Qlik Sense, it has to be trusted.  Transport
                Layer Security (TLS) and certificate authentication are used to authorize external components for communication with Qlik Sense.

                The chart below outlines the 4 most common authentication methods.
                <p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>                                
                                <th scope="col">Method</th>
                                <th scope="col">Description</th>
                                <th scope="col">Suggested Use</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>                                
                                <td>Ticket API</td>
                                <td>The ticket solution is similar to a normal ticket. The user receives a ticket after having been verified. The user then brings the ticket to Qlik Sense and, if the ticket is valid, is authenticated.</td>
                                <td></td>
                            </tr>
                            <tr>                                
                                <td>Session API</td>
                                <td>The session solution allows the Qlik Sense Proxy Service (QPS) to use a session from an external system to validate who the user is.</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Headers</td>
                                <td>Header authentication is often used in conjunction with a Single Sign-On (SSO) system that supplies a reverse proxy or filter for authenticating the user.</td>
                                <td></td>
                            </tr>
                            <tr>                                
                                <td>SAML</td>
                                <td>Security Assertion Markup Language (SAML) is an XML-based, open-standard data format for exchanging authentication and authorization data between parties (for example, between an identity provider and a service provider). SAML is typically used for web browser single sign-on (SSO).</td>
                                <td></td>
                            </tr>
                        </tbody> 
                    </table>
                </p>  
    </p>                
    </div>    
</div>

<div class="row">
    <div class="col-lg-6">        
        <h3>Ticket Authentication</h3>
        <p>
            Ticket authentication is a solution that allows the Qlik Sense Proxy Service (QPS) to use a ticket requested by an external system to validate who the user is.    
        </p>           
        <h4>Description of Workflow</h4>
        <code>
1. The user attempts to access a secured  page in your mashup application.  
2. Your application checks to see if the user has a valid session.  If not, redirect the user to your application’s authentication module.
3. Your applications authentication module authenticates the user and, if successful, requests a ticket for the user from Qlik Sense using the Ticket API.  
4. The Qlik Sense Ticket API returns a ticket.
5. At this point you have a ticket to access the Qlik Sense server and there are several ways you can use that ticket to establish a session.  A commonly used method is to redirect the client browser to an HTML page contained in the Qlik Sense content repository.  This HTML page contains a redirect to back to your mashup application.
6. The client browsers requests an HTML page with the ticket acquired in step #4 appended to the URI.
7. The Qlik Sense server establishes a session using the ticket included in the URI and returns the HTML page.
8. The client web browser redirects to the mashup home page.                                     
        </code>           
    </div>
    <div class="col-lg-6">
            <div class="col-12 qlik-viz-container">        
                <div>
                    <h3>&nbsp;</h3>
                    <img src="../static/client/images/ticket-flow.png"></img>
                </div>
            </div>                        
    </div>        
</div>
