        <div class="row">
                <div class="col-lg-4">        
                    <h3>Qlik Single Configurator</h3>
                    <p>
                            The visualizations to the right (or below) are served by the Qlik Sense
                            Enterprise server using our <i>Single Configurator API</i>.  This is an &lt;iframe&gt;
                            integration technique.  You can easily generate the &lt;iframe&gt; code using
                            Qlik Sense's DevHub and Single Configurator tool.  The code to implement the &lt;iframe&gt;
                            integration is shown below:
                    </p>                    
                    <code>
&lt;iframe src='http://localhost/session/ticket/?appid=aa72ba66-9cb1-469d-af42-2a71d485550f&sheet=7c1a3eab-83e3-4503-8581-300632cdd84d&opt=ctxmenu&select=clearall' style='border:none;width:100%;height:100%;'&gt;&lt;/iframe&gt;
                    </code>
                </div>
                <div class="col-lg-8">
                        <div class="col-12 qlik-viz-container">        
                                        <iframe src='http://localhost/ticket/single/?appid=aa72ba66-9cb1-469d-af42-2a71d485550f&sheet=7c1a3eab-83e3-4503-8581-300632cdd84d&opt=ctxmenu&select=clearall' style='border:none;width:100%;height:100%;'></iframe>
                        </div>                        
                </div>        
        </div>
