        <div class="row">
                <div class="col-lg-4">        
                    <h3>Qlik Single Configurator</h3>
                    <p>
                            The visualizations to the right (or below) are served by the Qlik Sense
                            Enterprise server using our <i>Single Configurator API</i>.  This is an &lt;iframe&gt;
                            integration technique.  You can easily generate the &lt;iframe&gt; code using
                            Qlik Sense's DevHub and Single Configurator tool.  The code to implement the &lt;iframe&gt;
                            integration is shown below:
                    </p>                    
                    <code>
&lt;iframe src='https://myserver/single/?appid=d957180f-1a56-48c3-9516-6e224a7c580f&sheet=0b454f95-0b68-4eec-bcb5-b46252f4f709&opt=nointeraction&select=clearall' style='border:none;width:100%;height:100%;'&gt;&lt;/iframe&gt;
                    </code>
                </div>
                <div class="col-lg-8">
                        <div class="col-12 qlik-viz-container">        
                                <iframe src='https://myserver/single/?appid=d957180f-1a56-48c3-9516-6e224a7c580f&sheet=0b454f95-0b68-4eec-bcb5-b46252f4f709&opt=nointeraction&select=clearall' style='border:none;width:100%;height:100%;'></iframe>
                        </div>                        
                </div>        
        </div>
